<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
  <% products.forEach(function(product){ %>
    <li><a href="order/<%=product.id%>"><%=product.name%></a></li>
  <% }); %>
</ul>
</body>
</html>